<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigin</title>
</head>
<body>
    <h1>sigin Page login page</h1>
    {% for message in messages %}
    <div>
      <p>Message : {{message}}</p>
    </div>
    {% endfor %}
    

    <form  method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="userName" id="userName">
        <label for="">password</label>
        <input type="password" name="pass1" id="pass1">

        <button type="submit">Login</button>
    </form>
</body>
</html>