<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigin</title>
</head>
<body>
    <h1>New Password</h1>
    {% for message in messages %}
    <div>
      <p>Message : {{message}}</p>
    </div>
    {% endfor %}
    

    <form  method="post">
        {% csrf_token %}
        <label for="">New Password</label>
        <input type="password" name="pass3" id="pass3">
        <label for="">Confirm Password</label>
        <input type="password" name="pass4" id="pass4">
        <button type="submit">Send Link</button>
    </form>
</body>
</html>